<div id="left-side">
<mat-sidenav-container  class="example-sidenav-container">
    <mat-sidenav [(opened)]="opened" mode="side" class="mat-elevation-z8">
        <br>
        <div style="text-align: center;"><h6>DASHBOARDS</h6></div>
        <mat-divider></mat-divider>
        <br>
        <fa name="home fa-lg"></fa>&nbsp;&nbsp;<a href="/home" color="primary">Home Dashboard</a>
        <br><br> 
        <fa name="wifi fa-lg"></fa>&nbsp;&nbsp;<a href="/home/table" color="primary">Wi-Fi Data Tables</a>
        <br><br> 
        <fa name="table fa-lg"></fa>&nbsp;&nbsp;<a href="/home/graph" color="primary">Utilization Graphs</a>
        <br><br> 
        <fa name="map fa-lg"></fa>&nbsp;&nbsp;<a href="/home/heatmap" color="primary">Interactive Heatmap</a>
        <br><br> 
        <fa name="street-view fa-lg"></fa>&nbsp;&nbsp;<a href="/home/list" color="primary">MAC Tracking & Metrics</a>
        <br><br> 
        <fa name="file fa-lg"></fa>&nbsp;&nbsp; <a href="#" color="primary">Reporting & Analytics</a>
        <br>
        <br>
        <br>
        <div style="text-align: center;"><h6>DATA MANAGEMENT</h6></div>
        <mat-divider></mat-divider>
        <br>
        <fa name="upload fa-lg"></fa>&nbsp;&nbsp;<a href="/home" color="primary">Upload/Add Data</a>
        <br><br> 
        <fa name="server fa-lg"></fa>&nbsp;&nbsp;<a href="#" color="primary">Data Feed Configuration</a>
        <br>
        <br>
        <br>
        <div style="text-align: center;"><h6>ADMINISTRATION</h6></div>
        <mat-divider></mat-divider>
        <br>
        <fa name="cog fa-lg"></fa>&nbsp;&nbsp;<a href="/home" color="primary">Application Settings</a>
        <br><br> 
        <fa name="shield fa-lg"></fa>&nbsp;&nbsp;<a href="#" color="primary">Security & NinerNet</a>
        <br>
        <br>
   


    </mat-sidenav>
    <mat-sidenav-content>
        <button (click)="opened=!opened" mat-raised-button color="accent" class="mat-elevation-z8">
            <fa name="bars fa-lg"></fa>
        </button>
    </mat-sidenav-content>
</mat-sidenav-container>
</div>

<div id="right-side">
    <app-card-dashboard *ngIf="router.url === '/home'"></app-card-dashboard>
    <app-dashboard *ngIf="router.url === '/home/table'"></app-dashboard>
    <app-heat-map *ngIf="router.url === '/home/heatmap'"></app-heat-map>
    <app-graph-view *ngIf="router.url === '/home/graph'"></app-graph-view>
    <app-list-view *ngIf="router.url === '/home/list'"></app-list-view>
    
</div>

