mat-sidenav-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.example-sidenav-container {
    flex: 1;
  }

mat-sidenav, mat-sidenav-content{
    padding: 18px;
    overflow: hidden;
}
mat-sidenav{
    height: 100%;
    width: 70%;
    background-color: #ececec;
    border-right: solid 1px #046A38;
}

.mat-drawer-container {
    background-color: transparent !important;
    color: transparent !important;
}

#left-side {
    width: 20%;
    height: 100%;
    float: left;
}

#right-side {
    width: 80%;
    height: 100%;
    float: right;
    padding-right: 4%;
    padding-left: 2%;
  
}

a {
    color: #046A38;
    font-family: 'Raleway',  sans-serif;
    font-size: 15px;
    font-weight: bold;
}

h6 {
    color: #046A38;
    font-family: 'Raleway',  sans-serif;
    font-size: 16px;
    font-weight: bold;
}

mat-divider {
    background-color: #046A38;
    height: 1px;
}
    
fa {
    color: #046A38;
}

mat-sidenav-content button {
    background-color: #ececec;
    border: solid 1px #046A38;
}

