
<h3 class="text-center">Campus Heat Map</h3>
<mat-divider></mat-divider>  
<br><br>
<mat-accordion>
    <mat-expansion-panel class="mat-elevation-z8" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>show_chart</mat-icon>&nbsp; Campus-wide Connection Data for: &nbsp;<strong>{{event3}}</strong>&nbsp; to &nbsp;<strong>{{event4}}</strong>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="iframe-container">
        <iframe id="heatMap" [src]="url" width="450" height="525" frameborder="0"></iframe>
      </div>
    <br>
    <div>
        <button mat-button style="color: white;">
            <fa name="download fa-lg"></fa>
              <a  style="color:white; text-decoration: none;">
            Download CSV</a>
        </button>
        &nbsp;
        <button mat-button style="color: white;">
            <fa name="fighter-jet fa-lg"></fa>
              <a  style="color:white; text-decoration: none;">
             Perform Analysis</a>
        </button>
        &nbsp;
        <button mat-button style="color: white;">
            <fa name="street-view fa-lg"></fa>
              <a  style="color:white; text-decoration: none;">
            MAC Tracker</a>
              </button>

            <mat-form-field style="width:20%; float: right; padding-left: 2%;">
                <input matInput [matDatepicker]="picker" placeholder="Choose a End Date" (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>   

            <mat-form-field style="width:20%; float: right; padding-left: 2%;">
                <input matInput [matDatepicker]="picker2" placeholder="Choose a Start Date" (dateInput)="addEvent2('input', $event)" (dateChange)="addEvent2('change', $event)">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>

         
      </div>
 
</mat-expansion-panel>
</mat-accordion>

