<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span id="footer-text">
            <a class="nav-item" href="#">
                <fa name="info-circle fa-lg"></fa>
                About the Project
            </a> 
        </span>

        <p class="text-center">API Version: api-4155, v0.0.1 <br> &copy; 2019 The University of North Carolina at Charlotte. All rights reserved.</p>
        <a class="nav-item" style="float:right; font-size: 12px;" href="#">
                <fa name="database fa-lg"></fa>
                DB Status: CONNECTED
            </a> 
    </mat-toolbar-row>
</mat-toolbar>
