h3{
    color: white;
    text-align: center;
    font-family: 'Raleway',  sans-serif;
}
#footer-text{
    vertical-align: middle;
}
fa{
    color: white;
}
a{
    color: white;
    font-family: 'Raleway',  sans-serif;
    font-size: 16px;
}

.text-center {
    margin:0 auto;
    color: white;
    font-size: 10px;
    font-family: 'Raleway',  sans-serif;
    line-height: 20px;
}