mat-sidenav-container{
    height: 100%;
}
mat-sidenav, mat-sidenav-content{
    padding: 16px;
    overflow: hidden;
    
}
mat-sidenav{
    width: 200px;
    background-color: #ececec;
}

.mat-drawer-container {
    background-color: transparent !important;
    color: transparent !important;
}

#left-side {
    width: 20%;
    height: 100%;
    float: left;
}

#right-side {
    width: 80%;
    height: 100%;
    float: right;
    padding-right: 4%;
}

a {
    color: black;
}


