<h5>Table View - Wifi Access Point Utilization</h5>


<!--
<div *ngIf="dashboardView === 'grafana'">
<iframe src="http://localhost:8080/d-solo/rrfzWKpZk/4155-project?orgId=1&from=1568606400000&to=1568692740000&theme=light&panelId=2" 
width="1300" height="400" frameborder="0"></iframe>

<iframe src="http://localhost:8080/d-solo/rrfzWKpZk/4155-project?orgId=1&from=1568606400000&to=1568692740000&theme=light&panelId=4" 
width="1300" height="400" frameborder="0"></iframe> 
</div>
-->

<div>
<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="tableDataSource" matSort>
  
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date & Time </th>
        <td mat-cell *matCellDef="let row"> {{row.time}} </td>
      </ng-container>
  
      <ng-container matColumnDef="connections">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Connections </th>
        <td mat-cell *matCellDef="let row"> {{row.connections}} </td>
      </ng-container>
  
      <ng-container matColumnDef="disconnections">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Disconnections </th>
        <td mat-cell *matCellDef="let row"> {{row.disconnections}} </td>
      </ng-container>

      <ng-container matColumnDef="icon">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><mat-icon color="primary" (click)="refreshFunction()" style="cursor: pointer;">refresh</mat-icon></th>
          <td mat-cell *matCellDef="let row"><mat-icon color="primary">info</mat-icon></td>
        </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]"></mat-paginator>
  </div>
  <br>
  <button mat-button (click)="openDataModal(content)" style="color: white;">
      <fa name="plus-circle fa-lg"></fa>
      Upload/Add Data
  </button>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="add-data">Add Data Point</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>System time at the point of API request is used currently for the new point's time data. Form needs to handle proper data/time input in the future.</p>
      <form #newDataPointForm="ngForm" (ngSubmit)="saveNewDataPointFunction()">
        <div class="form-group">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Connections" [(ngModel)]="newDataPoint.connections" name="connections" required>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Disconnections" [(ngModel)]="newDataPoint.disconnections" name="disconnections" required>
                    </mat-form-field>
        </div>
        <div class="modal-footer">
            <button mat-button style="color: white; background-color: red;" (click)="modal.close('Cross click')">Cancel</button>
            <button mat-button type="submit" style="color: white;">Save</button>
            
          </div>
      </form>
    </div>

  </ng-template>