
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <img src="../../assets/img/logo.png" id="logo">
        <h3>Wireless Access Point Visualizer</h3>
        <span class="filler"></span>
        <span>
              
            <a class="nav-item" href="#">
                    <fa name="cog fa-lg"></fa>
                   Settings
                </a>
            <a class="nav-item" routerLink="/login">

                <fa name="sign-out fa-lg"></fa>
                Sign-Out
            </a>
        </span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar style="color: rgba(0, 0, 0, 0.87); background-color: #fafafa">
        <mat-toolbar-row>     
            <h3 class="text-center">Data Visualization & Analytics Dashboard</h3>
        </mat-toolbar-row>
    </mat-toolbar>
