#headersection{
    background-color: #006633;
}
#logo{
    height: 50px;
}
h3{
    color:white;
    padding-left: 20px;
    font-family: 'Raleway',  sans-serif;
}
a, p {
    color:white;
    padding-right: 30px;
    font-family: 'Raleway',  sans-serif;
    font-size: 16px;
}
fa{
    color: white;
}
.filler{
    flex: 1 1 auto;
}

.text-center {
    margin:0 auto;
    color: black;
    font-size: 26px;
    font-weight: bold;
    text-align: center;

}

.mat-button {
    background-color: #02814E;
    font-family: 'Raleway',  sans-serif;
  }

  .mat-button span {
    color: white;
  }