
<mat-toolbar color="primary" style="border-bottom: solid 2px rgb(185,151,91);">
    <mat-toolbar-row>
        <img src="../../assets/img/logo.png">
        <h3>Wireless Access Point Visualizer</h3>
        <span class="filler"></span>
        <span>
            <a class="nav-item" routerLink="/login">
                <fa name="user-circle fa-lg"></fa>
                Administrator
            </a>
            <a class="nav-item" routerLink="/login">

                <fa name="sign-out fa-lg"></fa>
                Sign-Out
            </a>
        </span>
    </mat-toolbar-row>
</mat-toolbar>

