#headersection{
    background-color: #046A38;
}
img{
    height: 60px;
}

mat-toolbar {
    padding-bottom: 10px;
    padding-top: 10px;
}

h3{
    color:white;
    padding-left: 20px;
    font-family: 'Raleway',  sans-serif;
    font-style: italic;
}
a, p {
    color:white;
    padding-right: 30px;
    font-family: 'Raleway',  sans-serif;
    font-size: 16px;
}
fa{
    color: white;
 
}
.filler{
    flex: 1 1 auto;
}

.text-center {
    margin:0 auto;
    color: black;
    font-size: 26px;
    font-weight: bold;
    text-align: center;

}

.mat-button {
    background-color: #046A38;
    font-family: 'Raleway',  sans-serif;
  }

  .mat-button span {
    color: white;
  }