<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <a href="/home/heatmap">
                <mat-card>
                    <img mat-card-image src="https://animatedanatomy.com/images/16-9-dummy-image6.jpg" alt="sample text">
                    <mat-card-content>
                        <h2>Heat Map</h2>
                    </mat-card-content>
                </mat-card>
            </a> 
        </div>
        <div class="col-lg-4">
            <a href="/home/table">
                <mat-card>
                    <img mat-card-image src="https://animatedanatomy.com/images/16-9-dummy-image6.jpg" alt="sample text">
                    <mat-card-content>
                        <h2>Table View</h2>
                    </mat-card-content>
                </mat-card>
            </a>
        </div>
        <div class="col-lg-4">
            <a href="/home/graph">
                <mat-card>
                    <img mat-card-image src="https://animatedanatomy.com/images/16-9-dummy-image6.jpg" alt="sample text">
                    <mat-card-content>
                        <h2>Graph View</h2>
                    </mat-card-content>
                </mat-card>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <a href="/home/list">
                <mat-card>
                    <img mat-card-image src="https://animatedanatomy.com/images/16-9-dummy-image6.jpg" alt="sample text">
                    <mat-card-content>
                        <h2>List View</h2>
                    </mat-card-content>
                </mat-card>
            </a>
        </div>
        <div class="col-lg-4">
            <a href="#">
                <mat-card>
                    <img mat-card-image src="https://animatedanatomy.com/images/16-9-dummy-image6.jpg" alt="sample text">
                    <mat-card-content>
                        <h2>API?</h2>
                    </mat-card-content>
                </mat-card>
            </a>
        </div>
        <div class="col-lg-4">
            <a href="#">
                <mat-card>
                    <img mat-card-image src="https://animatedanatomy.com/images/16-9-dummy-image6.jpg" alt="sample text">
                    <mat-card-content>
                        <h2>Raw Text?</h2>
                    </mat-card-content>
                </mat-card>
            </a>
        </div>
    </div>
</div>