.row{
  margin-top: 25px;
}

.container {
  margin-top: 3%;
  margin-bottom: 3%;
}

p {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  text-align: left;
  font-family: 'Raleway',  sans-serif;
  color: #046A38;
}

h3 {
  font-weight: bold;
  padding-top: 2%;
  color: #046A38;
  font-family: 'Raleway',  sans-serif;
}

mat-progress-bar {
  color:  #046A38;
}

mat-card {
  background-color: #ececec;
  border: solid 1px #046A38;
  height: 100%;
}

mat-divider {
    background-color: #046A38;
    height: 2px;
}

