<h3 class="text-center">Reporting & Analytics</h3>
<mat-divider></mat-divider>  
<br><br>

<div class="container">
    <div class="row">
        <div class="col-lg-6 ">
            <mat-card class="mat-elevation-z8">
                <img mat-card-image src="../../../assets/img/connect.png" alt="sample text">
                <mat-card-content>
                    <p>
                        Connections over time indicates a representation of actual datapoints listed
                        in the database. Each dot denotes a datapoint.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-6">
            <mat-card class="mat-elevation-z8">
                <img mat-card-image src="../../../assets/img/Disconnect.png" alt="sample text">
                <mat-card-content>
                    <p>
                        Disconnections over time indicates a representation of actual datapoints listed
                        in the database. Each dot denotes a datapoint.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 ">
            <mat-card class="mat-elevation-z8">
                <img mat-card-image src="../../../assets/img/regression.png" alt="sample text">
                <mat-card-content>
                    <p>
                        Regression of connections over time indicates real data run against a linear
                        regression model to predict datapoints over time. This model represents that
                        predicted data. A line of regression was added to denote the average predicted
                        connections at a point in time.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-6">
            <mat-card class="mat-elevation-z8">
                <img mat-card-image src="../../../assets/img/regressionD.png" alt="sample text">
                <mat-card-content>
                    <p>
                        Regression of disconnections over time indicates real data run against a linear
                        regression model to predict datapoints over time. This model represents that
                        predicted data. A line of regression was added to denote the average predicted
                        disconnections at a point in time.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>